/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/poppins-v21-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --ff-primary: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --fs-1: clamp(1.5rem, 1.2359154929577465rem + 1.1267605633802815vw, 2.25rem);
  --fs-2: 0.938rem;
  --fs-3: 0.813rem;
  --fs-4: 1.25rem;
}

:root {
  --clr-primary-1: hsl(0, 78%, 62%);
  --clr-primary-2: hsl(180, 62%, 55%);
  --clr-primary-3: hsl(34, 97%, 64%);
  --clr-primary-4: hsl(212, 86%, 64%);
  --clr-primary-5: hsl(232, 12%, 34%);
  --clr-secondary-bg: hsl(0, 0%, 98%);
  --clr-secondary-text: hsl(229, 6%, 66%);
}

html {
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: var(--ff-primary);
  font-size: var(--fs-2);
  color: var(--clr-primary-5);
  font-weight: 400;
  letter-spacing: 0;
}

h1, h2, h3 {
  line-height: 1;
  font-weight: 600;
  font-size: var(--fs-4);
}

p, li, figcaption {
  text-wrap: pretty;
  max-width: 65ch;
  color: var(--clr-secondary-text);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a, a:visited, a:active {
  text-decoration: none;
}

.feature__card {
  display: flex;
  flex-direction: column;
}

.feature__card-icon {
  align-self: flex-end;
}

.feature__grid {
  display: grid;
  gap: 1.5rem;
}

.feature {
  background-color: var(--clr-secondary-bg);
  padding-inline: 32px;
  padding-top: 85px;
  padding-bottom: 78px;
}

.feature__header h2 {
  padding-inline: 7px;
}

.feature__title {
  font-weight: 200;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.feature__title--highlighted {
  font-weight: 600;
  text-align: center;
}

.feature h2 {
  font-size: var(--fs-1);
}

.feature__desc {
  text-align: center;
  margin-bottom: 4.75rem;
  line-height: 1.563rem;
}

.feature__card {
  padding: 28px;
  background-color: hsl(0, 0%, 100%);
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  border-bottom-left-radius: 0.55rem;
  border-bottom-right-radius: 0.55rem;
  box-shadow: 0px 15px 30px -11px hsla(213, 47%, 67%, 0.5);
}
.feature__card--color2 {
  border-top: 0.222rem solid var(--clr-primary-2);
}
.feature__card--color1 {
  border-top: 0.222rem solid var(--clr-primary-1);
}
.feature__card--color3 {
  border-top: 0.222rem solid var(--clr-primary-3);
}
.feature__card--color4 {
  border-top: 0.222rem solid var(--clr-primary-4);
}

.feature__card-title {
  margin-bottom: 0.4rem;
}

.feature__card-desc {
  font-size: var(--fs-3);
  line-height: 1.438rem;
  margin-bottom: 2.063rem;
}/*# sourceMappingURL=style.css.map */
