html {
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: var(--ff-primary);
    font-size: var(--fs-2);
    color: var(--clr-primary-5);
    font-weight: 400;
    letter-spacing: 0;
}

h1, h2, h3 {
    line-height: 1;
    font-weight: 600;
    font-size: var(--fs-4);
}

p, li, figcaption {
    text-wrap: pretty;
    max-width: 45ch;
    color: var(--clr-secondary-text);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

a, a:visited, a:active {
    text-decoration: none;
}