:root {
    --clr-primary-1: hsl(0, 78%, 62%);
    --clr-primary-2: hsl(180, 62%, 55%);
    --clr-primary-3: hsl(34, 97%, 64%);
    --clr-primary-4: hsl(212, 86%, 64%);
    --clr-primary-5: hsl(232, 12%, 34%);
    --clr-secondary-bg: hsl(0, 0%, 98%);
    --clr-secondary-text: hsl(229, 6%, 66%);
}